.container {
    display: flex;
    flex-direction: column !important;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
  }
  
  .heading1 {
    font-size: 0.9375rem;
    color: #3b4056;
    font-weight: 500;
  }
  
  .timeLine{
      color: #a8aab4 !important;
  }
  
  .avatar_size {
    cursor: pointer;
  }
  .avatarRow{
    margin-top: 5px;
    display: flex;
    gap: 10px;
  }
  .textFinal{
    display: flex;
    flex-direction: column;
  }