.boxCont {
  margin: 10px 0px;
}
.sideMargin {
  margin: 0px 10px;
}
.boxContFlex {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.flexBox {
  display: flex !important;
  gap: 5px !important;
}
.radioFlex {
  display: grid !important;
  grid-gap: 10px !important;
}
.timeLineComponent{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}
.radio{
    display: flex;
    gap: 20px;
}
@media screen and (min-width: 1010px) {
  .radioFlex {
    grid-template-columns: repeat(2, 1fr);
  }
}
.avatorFlex{
  display: flex;
  justify-content: space-between;
}

.container{
  margin:15px 20px !important;
  display: flex;
  justify-content: center;
}
