.container{
    display: flex;
    justify-content: center !important;
}

canvas {
    position: relative;
    left: 0;
    top: 0;
    border-radius: 10px; /* Set an initial border-radius for the entire chart */
  }
  .divContainer{
    position: absolute;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
  }

  @media only screen and (max-width:769px) {
    .divContainer{
        position: absolute;
        width: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
      }
  }